.footer {
  background-color: #145aa0ba;
  color: #fff;
  padding: 3px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.footer h3 {
  font-size: 23px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 10px;
}

.footer-col a {
  color: #fff;
  text-decoration: none;
}

.footer-col a:hover {
  color: blue;
}

.form-group {
  margin-bottom: 10px;
}
.fa-solid,.fa-brands{
  margin-right: 10px;
}
.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  color: black;
}

button {
  background-color: rgba(42, 47, 183, 0.888);
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.row-cols-4 {
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer-col {
      margin-bottom: 30px;
  }
}
  .copyright{
    background-color: #145aa0;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 50px;
    margin: 0px;
  }
  .copyright p{
    padding-top: 10px;
  }